@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
  /* ... */
}


body {
  margin: 0; 
  @apply bg-black;
}

.link {
  @apply text-blue-500 underline;
}

html { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}